<h1>Here is the number of quarters, dimes, nickels and pennies you will need.</h1>
<h2><%= @change %></h2>
<!-- <h2><%= @quarters %>Quarters</h2>
<h2><%= @dimes %>Dimes</h2>
<h2><%= @nickels %>Nickels</h2>
<h2><%= @pennies %>Pennies</h2> -->
